* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  font-family: "Quicksand", sans-serif;
}

body {
  font-size: 1.6rem;
}

h2,
h3,
h5 {
  color: #1f3e72;
}

button:hover {
  box-shadow: 0 2px 8px rgba(10, 10, 10, 0.5);
  cursor: pointer;
}

.main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 12.6rem;
  padding-left: 12.6rem;
  padding-right: 12.6rem;
}
.main-logo p {
  font-size: 2.8rem;
  font-weight: bolder;
  color: #2c4cca;
}

.nav-sections a {
  text-decoration: none;
  list-style-type: none;
  font-weight: bold;
  color: #6d7b93;
  margin: 2.4rem;
}

.submit-nav {
  background-color: #2c4cca;
  color: blanchedalmond;
  font-weight: bold;
  font-size: 1.6rem;
  font-family: "Quicksand", sans-serif;
  width: 15rem;
  height: 6rem;
  border: none;
  border-radius: 0.8rem;
  /* box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.2); */
}

.container-1 {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.container-1-info {
  padding-top: 8.6rem;
  padding-left: 12.6rem;
}
.main-title {
  font-size: 6.2rem;
}
.box-info {
  font-size: 1.8rem;
  font-weight: bold;
  color: #a5adbc;
}

.best_protection {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  color: #687da0;
}
.best-protection-icon {
  display: flex;
  align-items: center;
}

.best-protection-icon img {
  width: 2.5rem;
  height: 2.5rem;
}
.nurse-1 {
  width: 600px;
}
.nurse-1 img {
  width: 100%;
  height: auto;
}

.vaccine-data {
  position: absolute;
  width: 70rem;
  height: 5rem;
  top: 493px;
  left: 255px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 3.6rem;
  box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.2);
  opacity: 0.85;
}

.vaccine-data-title {
  color: #2c4cca;
}

.submit-vax {
  background-color: #2c4cca;
  color: blanchedalmond;
  font-weight: bold;
  font-size: 1.6rem;
  font-family: "Quicksand", sans-serif;
  width: 10rem;
  height: 4rem;
  border: none;
  border-radius: 0.8rem;
}

.container-3 li {
  text-decoration: none;
  list-style-type: none;
}
.brands-1 {
  width: auto;
}

.brands-1 img {
  width: 100%;
  height: auto;
}

.container-2 {
  display: flex;
  justify-content: space-between;
  padding-left: 12.6rem;
}
.container-2 h2 {
  font-size: 3.6rem;
}

.empty-space {
  width: 90rem;
}

.mask-image {
  width: 130rem;
}
.mask-image img {
  width: 100%;
  height: auto;
}

.cards {
  display: flex;
  justify-content: space-around;
  padding: 5rem 12rem;
}

.card-it {
  border: solid #edf2fb;
  margin: 2rem;
  border-radius: 0.8rem;
  padding: 3rem 3rem;
  text-align: justify;
  text-justify: inter-word;
}

.card-it:hover {
  box-shadow: 0 2px 8px rgba(5, 5, 5, 0.2);
  cursor: pointer;
}

.card-it p {
  font-weight: bold;
  color: #687da0;
}
.icon-cards {
  width: 6rem;
}
.card-it img {
  width: 100%;
  height: auto;
  border-radius: 0.8rem;
}

.container-3 {
  display: flex;
  justify-content: space-between;
}

.container-3 h2 {
  font-size: 3.6rem;
}

.container-3-preparations {
  padding-top: 0.5rem;
  padding-left: 12rem;
  padding-right: 12rem;
}

.container-3-advices {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.container-3-advices li:hover {
  box-shadow: 0 2px 8px rgba(5, 5, 5, 0.2);
  cursor: pointer;
}

.advice {
  width: 50rem;
  font-weight: bold;
  color: #1f3e72;
  margin: 1rem;
  padding: 1.5rem 1.5rem;
  /* box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.1); */
}

.container-4 {
  display: flex;
  justify-content: space-between;
  padding-left: 12.6rem;
}

.emergency-contact {
  padding-right: 3rem;
}

.container-4 h2 {
  font-size: 3.6rem;
}

.doctor-1 {
  width: 100rem;
}
.doctor-1 img {
  width: 100%;
  height: auto;
}

.contact {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.contact-item {
  width: 30rem;
  margin: 1rem;
  padding: 1.5rem 1.5rem;
  /* box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.1); */
  align-items: center;
}
.icon-contact {
  display: flex;
  align-items: center;
  padding-bottom: 1.6rem;
}

.icon-contact img {
  border-radius: 0.8rem;
}
.icon-contact h5 {
  font-size: 1.6rem;
  padding-left: 1.6rem;
}

.submit-contact {
  background-color: #2c4cca;
  color: blanchedalmond;
  font-weight: bold;
  font-size: 1.2rem;
  font-family: "Quicksand", sans-serif;
  width: 12rem;
  height: 4rem;
  border: none;
  border-radius: 0.8rem;
  transition: box-shadow 0.1s;
}

.main-footer {
  display: flex;
  justify-content: space-between;
  padding-top: 4rem;
  padding-left: 12.6rem;
  padding-bottom: 2rem;
  padding-right: 6rem;
  background-color: #eef3ff;
  text-justify: auto;
}

.main-footer li {
  font-weight: bold;
}

.goal {
  max-width: 20rem;
  color: #6d7b93;
}
.main-footer li {
  list-style-type: none;
  color: #1f3e72;
}

.footer-logo {
  padding-right: 35rem;
}

.footer-logo p {
  font-weight: bold;
}

.footer-info {
  padding: 0rem 5rem;
}

.footer-final {
  display: flex;
  padding-top: 4rem;
  padding-left: 12.6rem;
  padding-right: 3rem;
  background-color: #eef3ff;
  justify-content: space-between;
  align-items: center;
}

.reserved {
  width: 30rem;
  align-content: flex-end;
  font-weight: bold;
  color: #6d7b93;
}

.agreements {
  display: flex;
  flex-direction: row;
  padding-right: 1.6rem;
}

.agreements a {
  margin: 2rem;
  text-decoration: none;
  font-weight: bold;
  color: #6d7b93;
}

.vaccine-data p {
  opacity: 1;
}
